html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 12px;
    font-family: "Roboto Mono";
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: row;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
}

#ui-container {
    
    width: 240px;
    background-color: #000;
    color: #6A6A6B;
    padding: 20px;
    padding-top: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
    box-sizing: border-box;
    flex-shrink: 0;
}

#canvas-container {
    background-color: #6A6A6B;
    flex-shrink: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin-left: 0;
    width: 100%;
}

.button-container {

    display: flex;
    flex-wrap: nowrap;
    margin: 0;
}

.text, .sectionName {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}



.label-container {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin-bottom: 5px;
    margin-top: 20px;
    
}




.input {
    width: 195px;
    background-color: #000;
    color:#fff;
    border: 1px solid #fff;
    border-color:#fff;
    border-radius: 3px;
}

.button, .button-disabled { width: 200px; }
.mediumbutton { width: 100px; }
.smallbutton { width: 50px; }

.slider, .button, .smallbutton, .mediumbutton, .button-disabled {
    display: block;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #fff;
}


.button, .button-disabled  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    color: #000;
    border: none;
    padding: 10px;
    white-space: nowrap;
    font-family: "Roboto Mono";
}

.button-disabled {

  opacity: 15%;
  cursor: not-allowed;
  pointer-events: none; 
}

.button:hover, .smallbutton:hover, .mediumbutton:hover {
    background-color: #BABABA;
    color: #000;
}


.button:active, .mediumbutton.active {
    background-color: #fff;
    color: black;
    
}

.mediumbutton {
    margin: 0;
}


.left-align, .center-align, .right-align {
    flex: 1;
    text-align: left;
}

.center-align { text-align: center; }
.right-align { text-align: right; }

.credits {
    font-size:10px;
    line-height: 1.3;
    display: block;
    position: absolute;
    bottom: 20px;
}

.credits-link {
    color: #ffffff;
    text-decoration: none;
    font-size:10px;
    line-height: 1.3;
}

.credits-link:hover {
  color: #bababa;
}

.dropdown {
    width: 200px;
    background-color: #000;
    color:#fff;
    border: 1px solid #fff;
    border-color:#fff;
    border-radius: 3px;
    margin-bottom: 10px;
}


.checkbox {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.checkbox input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
  width: 16px;
  height: 16px;
  border: 1px solid white;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  position: relative;
}

.checkbox input[type="checkbox"]:checked::before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  background-color: white;
  margin: 2px;
  position: absolute;
  top: 1px;
  left: 1px;
}


.checkbox label {
  display: flex;
  cursor: pointer;
  gap: 8px;
}



/*Slider*/

input[type=range] {
    -webkit-appearance: none;
    width: 200px;
    background: #000;
    margin: 3px 0;
    
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track,
input[type=range]::-moz-range-track,
input[type=range]::-ms-fill-lower,
input[type=range]::-ms-fill-upper {
    height: 16px;
    background: #000;
    cursor: pointer;
    border-radius: 0;
}

/* Chrome specific range input thumb */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 16px;
    width: 16px;
    background: #ffffff;
    cursor: pointer;
    border-radius: 0;
    border: 0px solid #000;
    
}

input[type=range]::-moz-range-thumb,
input[type=range]::-ms-thumb {
    appearance: none;
    height: 16px;
    width: 16px;
    background: #fff;
    cursor: pointer;
    border: 0px solid #000;
}
